@model IEnumerable<IdeaCreationManagement.Models.User>
@{
    ViewBag.Title = "ConfirmEmployee";
    
}
@if (Model == null || !Model.Any())
{
    <h2>Brak użytkowników</h2>
}
else
{
    <h2>ConfirmEmployee</h2>
    <table class="table">

        <tr>
            <th>
             @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Potwierdź konto", "ConfirmEmployeeAcc", new { id_e = item.Id }, new { @class = "btn btn-block btn-default btn-md" })
                </td>
                <td>
                    @Html.ActionLink("Odrzuć konto", "NegativeEmployeeAcc", new { id_e = item.Id }, new { @class = "btn btn-block btn-default btn-md" })
                </td>
            </tr>
        }

    </table>
}
