@model IEnumerable<IdeaCreationManagement.Models.Project>

@{
    ViewBag.Title = "Baza projektów";
}

<h2>Baza projektów</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageGrade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "AllProjectsDetails", new { ProjectId = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageGrade)
            </td>
            <td>
                @Html.ActionLink("Pliki", "FileIndex", "Files", new { projectId = item.Id }, "Files")
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    if(String.Compare(item.Type.ToString(), "Pomysł") <= 0)
                    {
                        @Html.ActionLink("Oceń", "Create", "Grades", new { Id = item.Id },null)
                    }
                }
            </td>
        </tr>
    }

</table>
