@model IdeaCreationManagement.Models.Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły projektu</h2>

@*tytuł-
stan projektu-
kategoria-
średnia ocena-

autor-
data dodania-
opis-
oceny według kategorii*@

<div class="panel-body">
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.Title):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author):
        </dt>
        <dd> 
            @Html.DisplayFor(model => model.Author.UserName) @Html.DisplayFor(model => model.Author.Surname)      
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Name) [@Html.ActionLink("Zmień",
                   "ChangeState",
                   new { projectId = Model.Id }
               )]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageGrade):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageDifficulty):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageDifficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageIngenuity):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageIngenuity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageUsefulness):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageUsefulness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @Html.ActionLink("Wróć", "AssignedProjects", "Projects", null,
    new { @class = "btn btn-block btn-default btn-lg" })
</div>
