@using IdeaCreationManagement.Models
@model IEnumerable<Project>

@{
    ViewBag.Title = "Przydzielone projekty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista przydzielonych projektów</h2>

<div class="row panel-body">
    <table class="table table-hover table-bordered">
        <tr>
            <th class="col-md-3">@Html.DisplayNameFor(model => model.Title).ToString()</th>
            <th class="col-md-3">@Html.DisplayNameFor(model => model.Author).ToString()</th>
            <th class="col-md-2">@Html.DisplayNameFor(model => model.State).ToString()</th>
            <th class="col-md-2">@Html.DisplayNameFor(model => model.Category.Name).ToString()</th>
            <th class="col-md-2">@Html.DisplayNameFor(model => model.AverageGrade).ToString()</th>

        </tr>
        @foreach (var p in Model)
            {
            <tr>
                <td>@Html.ActionLink(p.Title, "AssignedProjectsDetails", new { projectId = p.Id})</td>
                <td>
                    @if (p.Author != null)
                    {
                        @Html.ActionLink(p.Author.Name + " " + p.Author.Surname, "DetailsOnly2", "Users", new { id = p.AuthorId }, "Users")
                    }
                </td>
                <td>@p.State.Name </td>  
                <td>@p.Category.Name</td>
                <td>@p.AverageGrade </td>
            </tr>
        }
    </table>
</div>