@using IdeaCreationManagement.Models
@model IEnumerable<Grade>

@{
    ViewBag.Title = "Szczegóły oceny";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista ocenionych projektów</h2>

<div class="row panel-body">
    <table class="table ">
        <tr>
            <th class="col-md-5">@Html.DisplayNameFor(model => model.First().Project.Title).ToString()</th>
            <th class="col-md-2">@Html.DisplayNameFor(model => model.First().Project.AverageGrade).ToString()</th>
        </tr>
        @foreach (var p in Model)
            {
            <tr>
                <td>@Html.ActionLink(p.Project.Title, "GradedProjectsDetails", new { gradeId = p.Id })</td>
                <td>
                    <div class="row">

                        @for (var i = 1; i <=  @p.AverageGrade; i++)
                        {
                            <span class="starGlow"></span>
                        }
                        @for (var i = ( @p.AverageGrade + 1); i <= 5; i++)
                        {
                            <span class="starFade"></span>
                        }
                    </div>
           
                </td>
            </tr>
        }
    </table>
</div>

