@model IdeaCreationManagement.Models.Grade

@{
    ViewBag.Title = "Szczegóły oceny";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły oceny projektu</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Title):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Title)
        </dd>
        </br>

        <dt>
            @Html.DisplayNameFor(model => model.UsefulnessValue):
        </dt>
        <dd>
          
            <div class="row">

                @for (var i = 1; i <= Model.UsefulnessValue; i++)
                {
                    <span class="starGlow"></span>
                }
                @for (var i = (Model.UsefulnessValue + 1); i <= 5; i++)
                {
                    <span class="starFade"></span>
                }
            </div>
            <br />    
                    
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DifficultyValue):
        </dt>
        <dd>
            <div class="row">

                @for (var i = 1; i <= Model.DifficultyValue; i++)
                {
                    <span class="starGlow"></span>
                }
                @for (var i = (Model.DifficultyValue+ 1); i <= 5; i++)
                {
                    <span class="starFade"></span>
                }
            </div>
            <br />     
       </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingenuity):
        </dt>
        <dd>
            <div class="row">

                @for (var i = 1; i <= Model.Ingenuity; i++)
                {
                    <span class="starGlow"></span>
                }
                @for (var i = (Model.Ingenuity + 1); i <= 5; i++)
                {
                    <span class="starFade"></span>
                }
            </div>
            <br />    

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageGrade):
        </dt>
        <dd>
            <div class="row">

                @for (var i = 1; i <= Model.AverageGrade; i++)
                {
                    <span class="starGlow"></span>
                }
                @for (var i = (Model.AverageGrade + 1); i <= 5; i++)
                {
                    <span class="starFade"></span>
                }
            </div>
            <br />    
           </dd>
              

    </dl>

    @Html.ActionLink("Wróć", "GradedProjects", "Projects", null, new { @class = "btn  btn-xs btn-primary " })
</div>
