@using IdeaCreationManagement.Models;
@model IEnumerable<IdeaCreationManagement.Models.Grade>

@{
    ViewBag.Title = "Dokonane oceny";
}

<h2>Dokonane oceny</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Oceniający")
        </th>
        <th>
            @Html.DisplayName("Data")
        </th>
        <th>
            @Html.DisplayName("Przydatność")
        </th>
        <th>
            @Html.DisplayName("Poziom Trudności")
        </th>
        <th>
            @Html.DisplayName("Pomysłowość")
        </th>
        <th>
            @Html.DisplayName("Średnia ocena")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rater)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsefulnessValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingenuity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageGrade)
            </td>
        </tr>
    }

</table>


