@using IdeaCreationManagement.Models;
@model IEnumerable<IdeaCreationManagement.Models.Grade>

@{
    ViewBag.Title = "Dokonane oceny";
    var totalRating = 5;

}

<h2>Dokonane oceny</h2>

<table class="table">

       <tr>
        <th>
            @Html.DisplayName("Oceniający")
        </th>
        <th>
            @Html.DisplayName("Data")
        </th>
        <th>
            @Html.DisplayName("Przydatność")
        </th>
        <th>
            @Html.DisplayName("Poziom Trudności")
        </th>
        <th>
            @Html.DisplayName("Pomysłowość")
        </th>
        <th>
            @Html.DisplayName("Średnia ocena")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rater.Name) @Html.DisplayFor(modelItem => item.Rater.Surname) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
                <br /> 
            </td>
            <td>
                <div class="row">
                    
                    @for (var i = 1; i <= item.UsefulnessValue; i++)
                    {
                        <span class="starGlow"></span>
                    }
                    @for (var i = (item.UsefulnessValue + 1); i <= 5; i++)
                    {
                        <span class="starFade"></span>
                    }
                </div>
                <br /> 

            </td>

            <td>
                <div class="row">

                    @for (var i = 1; i <= item.DifficultyValue; i++)
                    {
                        <span class="starGlow"></span>
                    }
                    @for (var i = (item.DifficultyValue + 1); i <= 5; i++)
                    {
                        <span class="starFade"></span>
                    }
                </div>
                <br /> 
            </td>

            <td>
                <div class="row">

                    @for (var i = 1; i <= item.Ingenuity; i++)
                    {
                        <span class="starGlow"></span>
                    }
                    @for (var i = (item.Ingenuity + 1); i <= 5; i++)
                    {
                        <span class="starFade"></span>
                    }
                </div>
                <br /> 
           </td>

            <td>
                <div class="row">


                    @for (var i = 1; i <= item.AverageGrade; i++)
                    {
                        <span class="starGlow"></span>
                    }
                    @for (var i = (item.AverageGrade + 1); i <= 5; i++)
                    {
                        <span class="starFade"></span>
                    }
                </div>
                <br /> 
             
            </td>

        </tr>
    }
 
</table>


