@model IdeaCreationManagement.Models.Grade

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Czy jesteś pewny, że chcesz usunąć tę ocenę?</h3>
<div>
    <h4>Wartości oceny:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Data")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayName("Przydatność")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsefulnessValue)
        </dd>

        <dt>
            @Html.DisplayName("Poziom Trudności")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DifficultyValue)
        </dd>

        <dt>
            @Html.DisplayName("Pomysłowość")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingenuity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
