@model IdeaCreationManagement.Models.Grade

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły oceny</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Data")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayName("Przydatność")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsefulnessValue)
        </dd>

        <dt>
            @Html.DisplayName("Poziom Trudności")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DifficultyValue)
        </dd>

        <dt>
            @Html.DisplayName("Pomysłowość")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingenuity)
        </dd>
        <dt>
            @Html.DisplayName("Ocena średnia")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageGrade)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
