@model IEnumerable<IdeaCreationManagement.Models.Grade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsefulnessValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DifficultyValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingenuity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsefulnessValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DifficultyValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingenuity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
