@model IdeaCreationManagement.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = Model.Details.Name + " " + Model.Details.Surname;
}

<h2>@ViewBag.Title - kasowanie</h2>

@using (Html.BeginForm("DeleteConfirm", "Users", FormMethod.Post))
{
    <p>
        Czy na pewno skasować poniższego użytkownika? <br />
        <input type="submit" value="Tak" class="btn btn-xs btn-default"/>
        <input type="hidden" name="id" value="@Model.Details.Id"/>
        @Html.ActionLink("Nie", "Details", new { id = Model.Details.Id }, new { @class = "btn btn-xs btn-default" })
    </p>
} 


@Html.Partial("UserDetails", Model.Details)

@if (Model.CreatedProjects.Count > 0)
{
    <h4>Utworzone projekty</h4>

    @Html.Partial("UserProjects", Model.CreatedProjects)
}

@if (Model.AssignedProjects.Count > 0)
{
    <h4>Przypisane projekty</h4>

    @Html.Partial("UserProjects", Model.AssignedProjects)
}
