@model IEnumerable<IdeaCreationManagement.Models.Alert>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Powiadomienia</h2>

@if (User.IsInRole("employee"))
{
    foreach (var item in Model)
    {
        if (item.Project.Type == IdeaCreationManagement.Models.ProjectType.Pomysł)
        {
            <h4>
                @Html.DisplayFor(modelItem => item.TimeOfChange) Administrator przydzielił Cie do pomysłu <span style="text-transform:uppercase">
                @Html.DisplayFor(modelItem => item.Project.Title)</span>
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
            </h4>
        }
        if (item.Project.Type == IdeaCreationManagement.Models.ProjectType.Problem)
        {
            <h4>
                @Html.DisplayFor(modelItem => item.TimeOfChange) Administrator przydzielił Cie do problemu <span style="text-transform:uppercase">
                @Html.DisplayFor(modelItem => item.Project.Title)</span>
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
            </h4>
        }
    }
}
@if (User.IsInRole("student"))
{
    foreach (var item in Model)
    {
        if (item.Project.Type == IdeaCreationManagement.Models.ProjectType.Pomysł)
        {
            <h4>
                    @Html.DisplayFor(modelItem => item.TimeOfChange) Twój pomysł 
                <span style="text-transform:uppercase">@Html.DisplayFor(modelItem => item.Project.Title)</span>
                    zmienił status na 
                <span style="text-transform:uppercase">@Html.DisplayFor(modelItem => item.State.Name)</span>                 
               @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
           </h4>
        }
        if (item.Project.Type == IdeaCreationManagement.Models.ProjectType.Problem)
        {
            <h4>
                @Html.DisplayFor(modelItem => item.TimeOfChange) Twój problem
                <span style="text-transform:uppercase">@Html.DisplayFor(modelItem => item.Project.Title)</span>
                zmienił status na
                <span style="text-transform:uppercase">@Html.DisplayFor(modelItem => item.State.Name)</span>
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
            </h4>
        }
    }
}
